<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h3>Edit Car</h3>

    <form th:action="@{/car/editCar}" th:object="${car}" method="post">
        <input type="hidden" th:field="*{carId}">

        <div class="form-group">
            <label for="nameInput">Car Name</label>
            <input th:field="*{carName}" type="text" class="form-control mb-4 col-4" id="nameInput">
        </div>

        <div class="form-group">
            <label for="colorInput">Car Color</label>
            <input th:field="*{carColor}" type="text" class="form-control mb-4 col-4" id="colorInput">
        </div>

        <div class="form-group">
            <label for="quantityInput">Car Quantity</label>
            <input th:field="*{carQuantity}" type="number" class="form-control mb-4 col-4" id="quantityInput">
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a th:href="@{/car/listCar}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</body>
</html>